<table id="statistics">
	<tr>
		<th>Preguntas</th>
		<th>Comentarios</th>
		<th>Media de comentarios</th>
		<th>Preguntas con comentarios</th>
		<th>Preguntas sin comentarios</th>
	</tr>
	<tr>
		<td><%= questions %></td>
		<td><%= comments %></td>
		<td><%= avg %></td>
		<td><%= withComments %></td>
		<td><%= withOutComments %></td>
	</tr>
</table>
